.shipment{
    background-color: #f9fafc;
    margin-top: -49.9%;
    width: 85vw;
    margin-left: 13.8%;
    display: flex;
    justify-content: space-between;
}

.shipNav{
    font-size: 23px;
    margin-left: 46px;
}

.newShip{
    border: 2px solid #ccc;
    width: 265px;
    padding: 9px;
    font-size: 15px;
    background-color: #fff;
    color: grey;
}